.Body-page-home {
    width: 100%;
    min-height: calc(100vh - 10px);
    background-color: #fafafa;
}


.home-component {
    /* The image used */
    background-image: url(../images/banner-bk.jpg);
    /* Full height */
    height: 100%;
    padding: 5px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.space-between-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.row-page {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.row-page-width-0 {
    display: flex;
    flex-direction: row;
    /* width: 100%; */

}

.row-page-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.row-end {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;

}

.box-repassword {
    display: flex;
    border-right-style: solid;
    border-right-color: #F1F7F8;
}

.align-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.align-center-end {
    display: flex;
    justify-content: flex-end;
}

.start-justify {
    display: flex;
    justify-self: start;
}

a,
button {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-back {
    color: #ffffff;
}

.cta-back:hover {
    text-decoration: underline;
    color: #ffffff;
}



.cta-green {
    background: #00FFAD;
    color: #192440;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}